<!-- my_robot_display.launch -->
<launch>
    <!-- Load URDF into parameter server -->
    <param name="robot_description" textfile="$(find wow_description)/robot/wow_little/urdf/wow_little.urdf" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
        <param name="use_gui" value="True" />
    </node>

    <!-- Start robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen" />

    <!-- Start RViz with URDF model display -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find wow_description)/rviz/robot.rviz"
        respawn="false" output="screen" />
</launch>